<!-- <p>chart works!</p>
<div>
    <table>
        <tbody>
            <tr *ngFor="let item of data">
              <th scope="row">{{item.fecha}}</th>
              <td>{{item.valor}}</td>
            
            </tr>
           
          </tbody>
    </table>
</div> -->

<!-- <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="200" height="200"
                  [data]="data"
                  [options]="lineChartOptions"
                  [type]="lineChartType"
                  ></canvas>
      </div>
    </div> -->

    <canvas id="myChart" width="400" height="400"></canvas>